.product-list-container {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 15px;
  margin: 20px;
}

.product-list-container .product {
  border: 2px solid #434324;
  padding: 15px 10px;
}

.product-list-container p {
  display: flex;
  justify-content: space-between;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 400px;
}

.product-image {
  width: 200px;
}
